<!DOCTYPE html>
<html>
<head>
	<title>Minimal Template</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if processing %}<meta http-equiv="refresh" content="3"/>{% endif %}
</head>
<body>
	<div class="container">
		<div class="hero">
			<h1 class="name"><strong>Story</strong>creator</h1>
		</div>
		<div class="hero">
			{% if processing %}
			<h2 class="name">Идёт загрузка пожалуйста подождите</h2>

			{% else %}
			<form method="post">
				<input type="text" name="text" placeholder="Ваш текст">
				<button type="submit">make story</button>
			</form>
			{% endif %}
		</div>
	</div>


	<div class="container cards">

		{% for image in images %}
		
		<div class="card">
			<div class="skill-level">
			</div>
			<div class="skill-meta">
				<img src="/{{ image }}" class="skill-meta">
				<h3>{{ text }}</h3>
				<a href="/{{ image }}">download image</a>
			</div>
		</div>
		{% endfor %}
	</div>

	<footer class="container">
	</footer>

</body>
</html>